/* RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* RESET END */


/* PADDINGS INSIDE START */

html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

/* PADDINGS INSIDE END */


/* WRAPPERS START*/

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper__full {
  max-width: 1262px;
  margin: 0 auto;
}

/* WRAPPERS END*/

/* URL STYLE START */

a {
  text-decoration: none;
}

/* URL STYLE END */

/* FONTS START */

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FONTS END */

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section__title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;

}

/* HEADER STYLES START */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  z-index: 999;
  transition: .5s linear;
}

.header_active {
  background: #0E1D28;
  opacity: 80%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15993);
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header_link {
  font-size: 18px;
  line-height: 24px;
  color: white;

}

.header_link:hover, .header_link:focus .header_link:active {
  opacity: 75%;
}

/*   HEADER STYLES END    */


/*   INTRO STYLES START    */

.intro {
  min-height: 100vh;
  background: url(../img/hero2.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;

}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: url(../img/svg/oval.svg) no-repeat left 6px transparent;
  background-size: 20px;
  border: 0px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  color: white; 
}

.search-form__field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: white; 
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #1255ae;
}

/*   INTRO STYLES END    */


/*   BENEFITS STYLES START    */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;

  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits__cards {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-column-gap: 55px;
 padding: 0 100px;
}

.benefits__card{
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card__pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;  
}

.benefits__card__more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  background: url(../img/svg/shape.svg) no-repeat 95% center;
}

.benefits__card__more:hover, .benefits__card__more:focus {
  background: url(../img/svg/shape.svg) no-repeat right center;
  transition: 0.2s all;
}

.icon1 {
  display: block;
}

/*  BENEFITS STYLES END   */

/*  PLACES STYLES START   */

.places {
  margin-bottom: 131px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__vieaw__all {
  padding-right: 59px;
  font-size: 16px;
  color: #006DFE;
  background: url(../img/svg/shape.svg) no-repeat right center;
}

.places__vieaw__all:hover, .places__vieaw__all:focus {
  opacity: .65;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card__pic {
  transform: scale(1.05);
}

.places__card__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

}

.places__card__size__lg {
  grid-column: span 3;
}

.places__card__size__sm {
  grid-column: span 2;
}

.places__card__pic {
  width: 100%;
  transition: 0.15s all;
}

.places__card__pic__size__lg {
  height: 354px;
  object-fit: cover;
}

.places__card__pic__size__sm {
  height: 283px;
  object-fit: cover;
}

.places__card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*  PLACES STYLES END   */

/*  TOURS STYLES START   */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 59px;
  color: #006DFE;
  background: url(../img/svg/shape.svg) no-repeat 95% center;
}

.tour__link:hover, .tour__link:focus {
  background: url(../img/svg/shape.svg) no-repeat right center;
  transition: 0.2s all;
}

/*  TOURS STYLES END   */

/*  TOPS STYLES START   */

.tops {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
}

.top__card__pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card__stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top__card__likes__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/heart_ico.svg) no-repeat right;
  margin-right: 14px;
}

.top__card__comments__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/svg/comment_ico.svg) no-repeat right;
}

.top__card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.top__card__link {
  padding: 12px 19px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background: #1B7DFF;
  border: 0;
  width: 118px;
  margin: auto 0 0 0;
}

.top__card__link:hover, .top__card__link:focus, .top__card__link:active {
  background: #1255ae;
}

/*  TOPS STYLES END   */

/*  VIDEO STYLES START   */

.video {
  width: 100%;
}

.video__wrapper {
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  VIDEO STYLES END   */

/*  FOOTER STYLES START   */

.footer {
  background: #0E1D28;
  padding: 118px 0;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;

}

.footer__menu__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.footer__menu__link:hover, .footer__menu__link:focus, .footer__menu__link:active {
  color: #9f9f9f;
}

/*  FOOTER STYLES END   */

https://youtu.be/Na_pwlz47P4







