/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* poppins-regular - latin   GOOGLE FONTS WEB HELPER*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* PADDINGS INSIDE */
html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
/* WRAPPER */
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

body {
  background: #1E1E1E;
}

a {
  text-decoration: none;
  color: inherit;
}


@keyframes anime {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: darkgreen;
  }
  95% {
    color: papayawhip;
  }
  100% {
    color: white;
  }
}

h1 {
  position: absolute;
  width: 336px;
  height: 154px;
  left: 217px;
  top: 317px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 127px;
  line-height: 154px;
  color: #FFFFFF;
  animation: anime infinite 20s linear;
}

.about {
  position: absolute;
  width: 214px;
  height: 30px;
  left: 217px;
  top: 471px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
/* identical to box height */
color: #FFFFFF;
}

.text {
  position: absolute;
  width: 336px;
  height: 110px;
  left: 217px;
  top: 506px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

@keyframes moving {
 100% {transform: rotate(-360deg);}
}


.small_circle1 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1198px;
  top: 121.18px;

  background: linear-gradient(180deg, #FDC898 0%, rgba(181, 23, 255, 0.11) 100%);
  border-radius: 30px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);

  animation: moving 8s infinite linear;
}


.small_circle2 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 464px;
  top: 80px;

  background: linear-gradient(180deg, #FDC898 0%, rgba(181, 23, 255, 0.11) 100%);
  border-radius: 30px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);

  animation: moving 10s infinite linear;
}

.small_circle3 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 389px;
  top: 745.18px;

  background: linear-gradient(180deg, #FDC898 0%, rgba(181, 23, 255, 0.11) 100%);
  border-radius: 30px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);

  animation: moving 16s infinite linear;
}


.small_circle4 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1236px; 
  top: 647.18px;

  background: linear-gradient(180deg, #FDC898 0%, rgba(181, 23, 255, 0.11) 100%);
  border-radius: 30px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);

  animation: moving 6s infinite linear;
}

.middle_circle {
  box-sizing: border-box;

  position: absolute;
  width: 428px;
  height: 428px;
  left: 646px;
  top: 226px;

  animation: moving 12s infinite linear;
}


.ellipse_1 {
  box-sizing: border-box;
  position: absolute;
  width: 751px;
  height: 751px;
  left: 485px;
  top: 55px;

  animation: moving 3s infinite linear;
}



































